@import "tailwindcss";

html, body {
  background: #020617;
  color: white;
  scroll-behavior: smooth;
}

.glass {
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255,255,255,0.1);
}

.glow {
  box-shadow: 0 0 80px rgba(14,165,233,0.3);
}